header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 10px 20px;
    position: relative;
    border-top: 3px solid black;
  }

  .navbar .brand {
    float: left;
    padding-top: 10px;
  }

  
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px
  }

  .content {
    padding: 20px;
  }

  .content-box {
    background: linear-gradient(to right, #686868, #ffffff);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 95vw; 
    height: 80vh;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    font-size: 25px;
}

  .trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 1.5rem;
  max-width: 80%; 
  max-height: 80%;
  overflow: auto; 
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



.file-upload{
  display: flex;
  gap: 10px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.file-upload input {
  flex: 1;
}

.file-upload button {
  flex: 1;
}