body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.container:hover {
  transform: scale(1.05); /* Enlarge the container on hover */
}
h1 {
  margin-bottom: 40px;
  color: #000000;
}

#login_form {
  display: flex;
  flex-direction: column;
}

#login_form > input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff; /* White border */
  border-radius: 3px;
  font-size: 16px; /* Adjusted font size */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  color: #333; /* Text color */
}

.btn-primary {
  background-color: #e74c3c; /* Red color for the button */
  color: #fff; /* White text color */
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logo {
  width: 300px; /* Adjust the width as needed */
  margin-right: 20px; /* Add some spacing between the image and the container */
}

.btn-primary:hover {
  background-color: #c0392b; /* Darker red on hover */
}

.link {
  color: #fff; /* White text color for links */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline; /* Underline on hover for links */
}
