body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Set the main content to a vertical column */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    width: 30%;
    padding: 60px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin-bottom: 20px;
  }