body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  width: 300px; /* Adjust the width as needed */
  margin-right: 20px; /* Add some spacing between the image and the container */
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.container:hover {
  transform: scale(1.05); /* Enlarge the container on hover */
}

#sign-up-form {
  display: flex;
  flex-direction: column;
}

#sign-up-form > input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff; 
  border-radius: 3px;
  font-size: var(--medium-font-size);
  transition: border-color 0.3s ease-in-out; /* Add a smooth transition for border color */
}

#sign-up-form > input:focus {
  border-color: var(--primary-color); /* Change border color on input focus */
}

#sign-up-form > input:hover {
  border-color: var(--accent-color); /* Change border color on hover */
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition for background color */
}

.btn:hover {
  background-color: var(--accent-color); /* Change background color on hover */
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Add a smooth transition for text color */
}

.link:hover {
  color: var(--accent-color); /* Change text color on hover */
}
